* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f1f3f8;
}

p {
  padding: 5px;
  color: #393b44;
}

.button {
  padding: 12px 28px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #f5f1da;
  color: #145374;
}

h1 {
  font-style: italic;
  color: #8d93ab;
  margin-left: 5px;
  margin-top: 5px;
}

.header {
  background-color: #d6e0f0;
  padding: 20px;
  text-align: center;
}

.column {
  float: left;
  width: 30%;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
